<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.framework.dao.mapper.HousePictureMapper">
  <resultMap id="BaseResultMap" type="com.springboot.framework.dao.entity.HousePicture">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, picture, house_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_house_picture
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_house_picture
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springboot.framework.dao.entity.HousePicture">
    insert into tb_house_picture (id, picture, house_id
      )
    values (#{id,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR}, #{houseId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.framework.dao.entity.HousePicture">
    insert into tb_house_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.framework.dao.entity.HousePicture">
    update tb_house_picture
    <set>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.framework.dao.entity.HousePicture">
    update tb_house_picture
    set picture = #{picture,jdbcType=VARCHAR},
      house_id = #{houseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>